body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
}
th {
	font-family: "Lucida Console", Monaco, monospace;
    font-weight: normal;
}
h1{
	text-align: center;
}
table{
	width: 100%;
}
div.floatLeft{
	float: left;
}
ul {
    list-style-type: circle;
}
#loadingScreen{
	margin: 15% 10px 10px 10px;
	text-align: center;
	font-size: 50px;
}
#bigBangButton{
	width: 240px;
	height: 125px;
	font-size: 50px;
	border: 2px solid;
	border-radius: 12px;
}
#bigBangButton:hover{
	 background-color: grey;
}
#startScreen{
	margin: 15% 10px 10px 10px;
	text-align: center;
	display: none;
}
#mainScreen{
	margin: 20px;
	text-align: center;
	display: none;
}
#textBoxTabs{
	border-bottom: 2px groove;
}
#gameTabs{
	margin-top: 20px;
}
.logTextBox li{
	padding: 10px 10px 0px 0px;
}
.resumeDiv{
	 border-bottom: 2px groove;
}
.changeTabs{
	background-color: #82ffff;
	border-radius: 12px;
	border: 2px solid;
	width: 10%;
}
.selectedTab{
	background-color: #527dfe;
}
.upgradeTextBoxButton{
	background-color: #ff79bc;
	border-radius: 12px;
	border: 2px solid;
	width: 20%;
}
.upgradeTextBoxButton:hover{
	 background-color: #ff0482;
}
.upgradeTabButton{
	background-color: #80ff80;
	border-radius: 12px;
	border: 2px solid;
	width: 75%;
}
.upgradeTabButtonHover:hover{
	 background-color: #00f200;
}
.upgradeButton{
	background-color: #80ff80;
	border-radius: 12px;
	border: 2px solid;
	width: 75%;
}
.upgradeButtonHover:hover{
	 background-color: #00f200;
}
.padding10{
	padding: 10px;
}
.padding4{
	padding: 4px;
}
.textBox{
	margin-top: 15px;
	width: 44%;
	height: 500px;
	border-style: groove;
}
.textBoxScroll{
	overflow-y: scroll;
	height: 91%;
}
.textBoxScroll::-webkit-scrollbar {
    width: 10px;
}
.textBoxScroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.textBoxScroll::-webkit-scrollbar-thumb {
    background: #888; 
}
.textBoxScroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
.tab button {
	width: 25%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.mainHolesTable{
	width: 55%;
}
.upgradesTable{
	width: 100%;
}
.widthColumns{
	width: 20%;
}
.displayNone{
	display: none;
}
.inlineBoldBig {
	display: inline;
	font-weight: bold;
	font-size: 25px;
}
.inlineBoldSmall {
	display: inline;
	font-weight: bold;
}